<!DOCTYPE html>
<html lang="en">

<%- include('./component/header.ejs',{
        title:"เกี่ยวกับ"
      }) %>

<body>
  <div class="tm-main-content" id="top">

    <%- include('./component/navbarNew.ejs',{
        checklogin: checklogin,
        route: route
      }) %>
    <!-- END TOP BAR -->

    <!-- blank Page -->
    <div class="container-fluid " style="margin-top: 65px;">
      <div class="row">
        <div class="col-4">
          <h3>Tang Tomg</h3>
        </div>
        <div class="col-4">
          <h3>Tang Tomg</h3>
        </div>
        <div class="col-4">
          <h3>Tang Tomg</h3>
        </div>
      </div>
    </div>


    <footer class="tm-bg-dark-blue">
      <div class="container">
        <div class="row">
          <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
            Copyright &copy; <span class="tm-current-year">2018</span> Your Company

            - Design: <a rel="nofollow" href="https://www.tooplate.com" class="tm-color-primary tm-font-normal" target="_parent">Tooplate</a></p>
        </div>
      </div>
    </footer>
  </div>

  <%- include('./component/script.ejs') %>
</body>


<script>

</script>

</html>