<!DOCTYPE html>
<html lang="en">


<%- include('./component/header.ejs',{
    title:"หน้าหลัก"
  }) %>

<body>
  <div class="tm-main-content" id="top">
    <%- include("./component/navbarNew.ejs",{
      role:CheckRole
    }) %>

    <div class="tm-section tm-bg-img" id="tm-section-1" style="margin-top: 65px;">
      <div class="tm-bg-white ie-container-width-fix-2">
        <div class="container ie-h-align-center-fix">

        </div>
      </div>
    </div>

    <div class="tm-section-3">
      <div class="container">
        <div class="row">
          <div class="col text-center">
            <h2 class="tm-section-title">We are here to help you?</h2>
            <p class="tm-color-white tm-section-subtitle">Subscribe to get our newsletters</p>
            <a href="#" class="tm-color-white tm-btn-white-bordered">Subscribe Newletters</a>
          </div>
        </div>
      </div>
    </div>

    <div class="tm-section tm-position-relative">
      <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100" preserveAspectRatio="none" class="tm-section-down-arrow">
        <polygon fill="#007bff" points="0,0  100,0  50,60"></polygon>
      </svg>
      <div class="container tm-pt-5 tm-pb-4">
        <div class="row text-center">
          <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
            <i class="fa tm-fa-6x fa-plane tm-color-primary far fa-smile tm-margin-b-20"></i>
            <h3 class="tm-color-primary tm-article-title-1">เข้าใจง่าย</h3>
            <p>เข้าใจง่าย และระบบเราก็ทำงานง่ายเช่นกัน.</p>
            <!-- <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a> -->
          </article>
          <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
            <i class="fa tm-fa-6x far fa-align-center tm-color-primary tm-margin-b-20"></i>
            <h3 class="tm-color-primary tm-article-title-1">ตัวกลางในการจัดการหอพัก</h3>
            <p>บริหารจัดการหอพัก จะเป็นเรื่องง่ายสำหรับท่าน.</p>
            <!-- <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a> -->
          </article><i class="far fa-question-square"></i>
          <article class="col-sm-12 col-md-4 col-lg-4 col-xl-4 tm-article">
            <i class="fa tm-fa-6x far fa-question-circle tm-color-primary tm-margin-b-20"></i>
            <h3 class="tm-color-primary tm-article-title-1">ติดต่อเราหากคุณมีคำถามใดๆ</h3>
            <p>เราจะตอบทุกคำถามที่เราสามารถตอบท่านได้.</p>
            <!-- <a href="#" class="text-uppercase tm-color-primary tm-font-semibold">Continue reading...</a> -->
          </article>
        </div>
      </div>
    </div>





    <footer class=" tm-bg-dark-blue">
      <div class="container">
        <div class="row">
          <p class="col-sm-12 text-center tm-font-light tm-color-white p-4 tm-margin-b-0">
            Copyright &copy; <span class="tm-current-year">2022</span> Hotel Center

            - Design by: <a rel="nofollow" href="https://www.facebook.com/profile.php?id=100008831296272" class="tm-color-primary tm-font-normal" target="_parent">Tang</a></p>
        </div>
      </div>
    </footer>
  </div>
  <%- include("./component/script.ejs") %>
</body>

</html>