<!DOCTYPE html>
<html lang="en">

<head>
  <title>Sign up</title>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" />
  <!-- Google web font "Open Sans" -->
  <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="css/bootstrap.min.css" />
  <!-- Bootstrap style -->
  <link rel="stylesheet" type="text/css" href="slick/slick.css" />
  <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />
  <link rel="stylesheet" type="text/css" href="css/datepicker.css" />
  <link rel="stylesheet" href="css/tooplate-style.css" />
  <link rel="stylesheet" href="css/style.css" />
</head>

<body>
  <div class="container">
    <div class="forms-container">
      <div class="signin-signup">
        <form class="sign-in-form" id="login-form">
          <h2 class="title">เข้าสู่ระบบ</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Username" required id="Username" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" required id="Password" />
            <input type="hidden" disabled value="<%=dataDormowner[0].role_id  %>" id="Role_id" />
          </div>
          <input type="button" value="เข้าสู่ระบบ" class="btn solid" onclick="login()" />
        </form>
        <form action="#" class="sign-up-form">
          <h2 class="title">สมัครสมาชิก</h2>
          <div class="row">
            <div class="col-6">
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="ชื่อจริง" required id="Firstname" />
              </div>
            </div>
            <div class="col-6">
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="นามสกุล" required id="Surname" />
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-6">
              <div class="input-field">
                <i class="fas fa-user"></i>
                <input type="text" placeholder="ชื่อผู้ใช้งาน" required id="username" />
              </div>
            </div>
            <div class="col-6">
              <div class="input-field">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="รหัสผ่าน" required id="password" />
              </div>
            </div>
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="อีเมล์" required id="Email" />
          </div>

          <div class="input-field">
            <i class="fas fa-address-book"></i>
            <input type="text" placeholder="ที่อยู่" required id="Address" />
          </div>
          <div class="input-field">
            <i class="fas fa-phone-alt"></i>
            <input type="text" placeholder="เบอร์โทร" required id="Phonenumber" />
          </div>
          <input type="button" class="btn" value="สมัครสมาชิก" onclick="register()" />
        </form>
      </div>
    </div>

    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>ตอนนี้ ?</h3>
          <p>
            สมัคสมาชิกกับทางเว็บไซต์เราสิ! ท่านจะได้พบกับระบบบริหารจัดการหอพัก
            ที่จะทำให้คุณบริหารจัดการอย่างง่าย
          </p>
          <button class="btn transparent" id="sign-up-btn">
            สมัครสมาชิก
          </button>
          <button class="btn transparent" id="homepage-btn">หน้าหลัก</button>
        </div>
        <img src="img/log.svg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>เป็นหนึ่งกับเรา ?</h3>
          <p>
            จัดการงานรูปแบบ online เป็นตัวกลางในการเชื่อมต่อ
            ระหว่างผู้ประกอบการหอพัก และผู้เช่าหอ ที่มาพร้อมกับการทำงานที่ง่าย
          </p>
          <button class="btn transparent" id="sign-in-btn">
            เข้าสู่ระบบ
          </button>
        </div>
        <img src="img/register.png" class="image" alt="" />
      </div>
    </div>
  </div>

  <%- include('./component/script.ejs') %>
</body>

<script>
  const sign_in_btn = document.querySelector("#sign-in-btn");
  const sign_up_btn = document.querySelector("#sign-up-btn");
  const homepage_btn = document.querySelector("#homepage-btn");
  const container = document.querySelector(".container");

  sign_up_btn.addEventListener("click", () => {
    container.classList.add("sign-up-mode");
  });

  homepage_btn.addEventListener("click", () => {
    location.href = location.origin + "/";
  });

  sign_in_btn.addEventListener("click", () => {
    container.classList.remove("sign-up-mode");
  });

  const form = document.getElementById("login_register");


  function cc_format(value) {
    var v = value.replace(/\s+/g, '').replace(/[^0-9]/gi, '');
    if (v.length > 3)
      v = [v.slice(0, 3), '-', v.slice(3)].join('');
    if (v.length > 8)
      v = [v.slice(0, 7), '-', v.slice(7)].join('');
    if (v.length > 12)
      v = [v.slice(0, 12), ' ', v.slice(12)].join('');
    v = v.slice(0, 12);
    return v;
  }
  onload = function() {
    document.getElementById('Phonenumber').oninput = function() {
      this.value = cc_format(this.value)
    }
  }

  async function login() {
    let username = document.getElementById("Username").value;
    let password = document.getElementById("Password").value;
    const Data = {
      Username: username,
      Password: password,
    };
    console.log(Data);
    const url = location.origin + "/api/login/" + username + "/" + password;
    let res = await fetch(url, {
      method: "GET",
      mode: "no-cors",
      headers: {
        "Content-Type": "application/json",
      },
    });

    console.log(res.status);
    if (res.status == 203) {
      swal
        .fire({
          position: "center",
          icon: "warning",
          title: "ยังไม่ยืนยันผู้ใช้งาน",
          text: "โปรดติดต่อมาที่ : ttptangloye666@gmail.com",
          showConfirmButton: true,
        })
        .then(() => {
          location.reload();
        });
    } else if (res.status == 204) {
      swal
        .fire({
          position: "center",
          icon: "warning",
          title: "ท่านได้คืนห้องพักไปแล้ว",
          text: "ขออภัยในความไม่สะดวก",
          showConfirmButton: true,
        })
        .then(() => {
          location.reload();
        });
    } else if (res.status == 200) {
      const body = await res.json();
      const role = body.role;
      if (role == 1) {
        swal
          .fire({
            position: "center",
            icon: "success",
            title: "เข้าสู่ระบบสำเร็จ",
            showConfirmButton: false,
            timer: 2000,
          })
          .then(() => {
            location.href = location.origin + "/adminhomepage";
          });
      } else if (role == 2) {
        swal
          .fire({
            position: "center",
            icon: "success",
            title: "เข้าสู่ระบบสำเร็จ",
            showConfirmButton: false,
            timer: 2000,
          })
          .then(() => {
            location.href = location.origin + "/owner";
          });
      } else if (role == 3) {
        swal
          .fire({
            position: "center",
            icon: "success",
            title: "เข้าสู่ระบบสำเร็จ",
            showConfirmButton: false,
            timer: 2000,
          })
          .then(() => {
            location.href = location.origin + "/user";
          });
      }
      console.log(role);
      console.log(res.status);
    } else {
      swal.fire({
        position: "center",
        icon: "error",
        title: "ชื่่อผู้ใช้หรือรหัสผ่านผิดพลาด!!",
        showConfirmButton: false,
        timer: 2000,
      });
    }
  }
  async function register() {
    let firstname = document.getElementById("Firstname").value;
    let surname = document.getElementById("Surname").value;
    let username = document.getElementById("username").value;
    let password = document.getElementById("password").value;
    let email = document.getElementById("Email").value;
    let address = document.getElementById("Address").value;
    let phone_number = document.getElementById("Phonenumber").value;
    let role_id = document.getElementById("Role_id").value;
    if (
      firstname == "" ||
      surname == "" ||
      username == "" ||
      password == "" ||
      email == "" ||
      address == "" ||
      phone_number == ""
    ) {
      swal.fire({
        position: "center",
        icon: "info",
        title: "กรุณากรอกข้อมูลให้ครบ",
        time: 2000,
      });
      return;
    }
    const Data = {
      Firstname: firstname,
      Surname: surname,
      username: username,
      password: password,
      Email: email,
      Address: address,
      Phonenumber: phone_number,
      Role_id: role_id,
    };
    console.log(Data);
    const url = location.origin + "/api/register";
    $.ajax({
      type: "POST",
      url: url,
      data: JSON.stringify(Data),
      dataType: "json",
      contentType: "application/json; charset=utf-8",
      success: function(data, status) {
        console.log("hello world", data);
        swal
          .fire({
            position: "center",
            icon: "success",
            title: "สมัครสมาชิกสำเร็จ",
            time: 2000,
          })
          .then(() => {
            location.reload();
          });
      },
      error: function(jqXhr, textStatus, errorThrow) {
        console.log(jqXhr);
        const msg = (() => {
          switch (jqXhr.responseJSON.message) {
            case "user_duplicated":
              return "ชื่อผู้ใช้งานถูกใช้ไปแล้ว";
          }
        })();
        swal.fire({
          position: "center",
          icon: "error",
          title: msg,
          time: 2000,
        });
      },
    });
  }
</script>

</html>